@using ReUnited_frontend.DataModels
@rendermode InteractiveServer

<h3>AddLostItemComponent</h3>

<EditForm Model="@LostItem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="field">
        <label class="label">Item Description</label>

        <div class="control">
            <InputText class="input" 
                       placeholder="e.g. Black iPhone 15 with a cracked screen"
                       @bind-Value="LostItem.ItemDescription" />
        </div>

        <p class="help is-danger">
            <ValidationMessage For="@(() => LostItem.ItemDescription)" />
        </p>
    </div>

    <div class="field">
        <label class="label">City</label>
        <div class="control">
            <InputText class="input"
                       placeholder="e.g. London"
                       @bind-Value="LostItem.City" />
        </div>
        <ValidationMessage For="@(() => LostItem.City)" />
    </div>

    <div class="field">
        <label class="label">Postcode</label>
        <div class="control">
            <InputText class="input"
                       placeholder="e.g. SW1A 1AA"
                       @bind-Value="LostItem.Postcode" />
        </div>
        <ValidationMessage For="@(() => LostItem.Postcode)" />
    </div>

    <div class="field">
        <label class="label">Category</label>

        <div class="control">
            <div class="select is-fullwidth">
                <InputSelect @bind-Value="LostItem.Category">
                    <option value="">Select Category</option>
                    <option>Phone</option>
                    <option>Bag</option>
                    <option>Wallet</option>
                    <option>Keys</option>
                    <option>Jewellery</option>
                </InputSelect>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Additional Information</label>
        <div class="control">
            <InputTextArea class="textarea"
                           placeholder="Provide any additional details that may help identify the item, such as colour, brand, distinguishing marks, or where it was lost."
                           @bind-Value="LostItem.AdditionalInformation" />
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>

        <div class="control has-icons-left">
            <InputText class="input"
                       placeholder="e.g. name@example.com"
                       @bind-Value="LostItem.Email" />

            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>

        <ValidationMessage For="@(() => LostItem.Email)" />
    </div>
    
    <div class="field">
        <label class="label">Phone Number</label>

        <div class="control">
            <InputText class="input"
                       @bind-Value="LostItem.PhoneNumber" />
        </div>

        <p class="help is-danger">
            <ValidationMessage For="@(() => LostItem.PhoneNumber)" />
        </p>
    </div>

    <PictureUploadComponent LostItem="LostItem" OnFileSelected="HandleFileSelected"/>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-primary">
                Submit
            </button>
        </div>

        <div class="control">
            <button type="button" class="button is-light">
                Cancel
            </button>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public LostItem LostItem { get; set; } = new();

    [Parameter]
    public EventCallback<(LostItem Item, IBrowserFile? File)> OnSave { get; set; }

    private IBrowserFile? selectedFile;

    private Task HandleFileSelected(IBrowserFile file)
    {
        selectedFile = file;
        return Task.CompletedTask;
    }

    private async Task HandleValidSubmit()
    {
        await OnSave.InvokeAsync((LostItem, selectedFile));
    }
}
