@using ReUnited_frontend.DataModels

<h3 class="title is-4">Lost Items</h3>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">

        <thead>
            <tr>
                <th>Item</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Category</th>
                <th>Description</th>
                <th>Info</th>
                <th>Contact</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in LostItems)
            {
                <tr>
                    <th>
                        <NavLink href="@($"/lostitems/{item.Id}")">
                            @item.ItemDescription
                        </NavLink>
                    </th>


                    <td>@item.City</td>

                    <td>@item.Postcode</td>

                    <td>@item.Category</td>

                    <td>@item.AdditionalInformation</td>

                    <td>
                        <figure class="image is-64x64">
                            <img src="images/reunitedlogo.png" />
                        </figure>
                    </td>

                    <td>
                        <div>
                            <strong>@item.Email</strong><br />
                            @item.PhoneNumber
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


@code {
    [Parameter]
    public List<LostItem> LostItems { get; set; } = new List<LostItem>
    {
                new LostItem(
                    1,
                    "London",
                    "SW1A1AA",
                    "john.doe@example.com",
                    "07123456789",
                    "Wallet",
                    "Black leather wallet",
                    "Lost near station",
                    "wallet.jpg"
            ),
                new LostItem(
                    2,
                    "London",
                    "SW1A1AA",
                    "john.doe@example.com",
                    "07123456789",
                    "Wallet",
                    "Black leather wallet",
                    "Lost near station",
                    "wallet.jpg"
            ),
                new LostItem(
                    3,
                    "London",
                    "SW1A1AA",
                    "john.doe@example.com",
                    "07123456789",
                    "Wallet",
                    "Black leather wallet",
                    "Lost near station",
                    "wallet.jpg"
            )

    };


}
