@using ReUnited_frontend.DataModels

@if(ShowModal)
{
    <LostItemDeleteModal HideModal="HideModal"
                         Modal="OnHandleModal" />
}

else {

<div class="lost-item-page">

    <div class="lost-item-card">

		<img src="@LostItem.Picture"
             alt="Lost item image"
             class="lost-item-image" />

        <h3 class="title is-5 has-text-centered" style="color: #eee;">
            @LostItem.ItemDescription
        </h3>

        <div class="found-box">
            <p class="has-text-weight-semibold">Found at</p>
            <p>@LostItem.City @LostItem.Postcode</p>
        </div>

        
        <div class="map-preview">
            <a href="https://www.google.com/maps"
               target="_blank"
               rel="noopener noreferrer">

                <img src="Images/maps.png"
                     class="map-image"
                     alt="Map preview" />
            </a>
        </div>

        <div class="details-grid">
            <p><strong>Email:</strong> @LostItem.Email</p>
            <p><strong>Phone:</strong> @LostItem.PhoneNumber</p>
            <p><strong>Category:</strong> @LostItem.Category</p>
            <p class="mb-5"><strong>Notes:</strong> @LostItem.AdditionalInformation</p>
        </div>

        <footer class="card-footer">
            <NavLink class="card-footer-item button mr-5"
                     href="@($"/lostitems/edit/{LostItem.Id}")">
                Edit
            </NavLink>

            <a class="card-footer-item button is-danger" @onclick="ToggleModal">
                Delete
            </a>
        </footer>

    </div>

</div>
}


@code {
    @rendermode InteractiveServer


    [Parameter]
    public LostItem LostItem { get; set; }

    [Parameter]
    public EventCallback<LostItem> OnDeleteRequest { get; set; }

    [Parameter]
    public EventCallback<bool> updateModal { get; set; }

    public bool ShowModal { get; set; } = false;

    public bool HideModal { get; set; }

    public void ToggleModal()
    {
        ShowModal = true;
    }

    public async Task OnHandleModal(bool value)
    {
        ShowModal = value;
        StateHasChanged();
    }

    private async Task DeleteRequest(LostItem item)
    {
		Console.WriteLine(item.City);
		await OnDeleteRequest.InvokeAsync(item);
    }

}
