@using ReUnited_frontend.DataModels

@rendermode InteractiveServer

<h3 class="title is-4">Lost Items</h3>

<div class="buttons">
    @foreach (var cat in Categories)
    {
        <button type=button class="button @(cat.IsSelected ? "is-primary is-outlined" : "is-dark is-outlined")" @onclick="() => ToggleCategory(cat)">
            @cat.Name
        </button>
    }
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">

        <thead>
            <tr>
                <th>Item</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Category</th>
                <th>Description</th>
                <th>Info</th>
                <th>Contact</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in LostItems)
            {
                if (CheckIfFilter() && !IsFilterContains(item))
                {
                    continue;
                }
                <tr>
                    <th>
                        <NavLink href="@($"/lostitems/{item.Id}")">
                            @item.ItemDescription
                        </NavLink>
                    </th>


                    <td>@item.City</td>

                    <td>@item.Postcode</td>

                    <td>@item.Category</td>

                    <td>@item.AdditionalInformation</td>

                    <td>
                        <figure class="image is-64x64">
                            <img src="@($"uploads/{item.Picture}")" />
                        </figure>
                    </td>

                    <td>
                        <div>
                            <strong>@item.Email</strong><br />
                            @item.PhoneNumber
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


@code {
    [Parameter]
    public List<LostItem> LostItems { get; set; } = new();

    public List<CategoryItem> Categories { get; set; } = LostItemCategories.GetCategories();


    public void ToggleCategory(CategoryItem item)
    {
        item.IsSelected = !item.IsSelected;
    }

    public bool CheckIfFilter()
    {
        foreach (var item in Categories)
        {
            if (item.IsSelected == true)
            {
                return true;
            }
        }

        return false;
    }

    public bool IsFilterContains(LostItem item)
    {
        foreach (var category in Categories)
        {
            if (category.IsSelected && category.Name == item.Category)
            {
                return true;
            }
        }

        return false;
    }
}
