@using ReUnited_frontend.Components.UI
@using ReUnited_frontend.DataModels

@if(ShowModal == true)
{    
    <LostItemDeleteModal/>
}

<div class="container is-fluid">
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">

        <thead>
            <tr>
                <th>Item</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Category</th>
                <th>Additional Information</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in LostItems)
            {
                <tr>
                    <th>
                        <NavLink href="@($"/lostitems/{item.Id}")">
                            @item.ItemDescription
                        </NavLink>
                    </th>


                    <td>@item.City</td>

                    <td>@item.Postcode</td>

                    <td>@item.Category</td>

                    <td class="truncate">@item.AdditionalInformation</td>

                    <td>
                        <figure class="image is-64x64">
                            <img src="@($"uploads/{item.Picture}")" />
                        </figure>
                    </td>

                    <td>
                       
                        <button class="button is-white">Edit</button>
                        
                    </td>

                    <td>
                        <button class="button is-danger" @onclick="ChangeModal">Delete</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>




@code {

    [Parameter]
    public List<LostItem> LostItems { get; set; } = new();
    [Parameter]
    public EventCallback<LostItem> OnDeleteRequested { get; set; }

    [Parameter]
    public EventCallback<bool> UpdateModal { get; set; }

    public bool ShowModal { get; set; } = false;

    public void ChangeModal()
    {
        ShowModal = true;
    }

    public async Task OnHandleModal()
    {
        await UpdateModal.InvokeAsync(ShowModal);
    }

    private async Task DeleteRequested(LostItem item)
    {
        await OnDeleteRequested.InvokeAsync(item);
    }
}