@using ReUnited_frontend.DataModels

<h3 class="title is-4">Lost Items</h3>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">

        <thead>
            <tr>
                <th>Item</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in LostItems)
            {
                <tr>
                    <th>
                        <NavLink href="@($"/lostitems/{item.Id}")">
                            @item.ItemDescription
                        </NavLink>
                    </th>


                    <td>@item.City</td>

                    <td>@item.Postcode</td>

                    <td>@item.Category</td>

                    <td>@item.AdditionalInformation</td>

                    <td>
                        <figure class="image is-64x64">
                            <img src="@($"uploads/{item.Picture}")" />
                        </figure>
                    </td>

                    <td>
                        // add modal fireup here.
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>


@code {
    [Parameter]
    public List<LostItem> LostItems { get; set; } = new();
    [Parameter]
    public EventCallback<LostItem> OnDeleteRequested { get; set; }

    public bool ShowModal { get; set; } = false;

    private async Task DeleteRequested(LostItem item)
    {
        await OnDeleteRequested.InvokeAsync(item);
    }
}