@using ReUnited_frontend.DataModels;

@inject HttpClient Http
@inject NavigationManager Nav

@rendermode InteractiveServer

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="images/reUniteLogoV2.png" height="100" width="100" />
            <div class="is-size-1">
                ReUnited
            </div>

        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="@("/")">
                Home
            </NavLink>

            <NavLink class="navbar-item" href="@("/founditems")">
                Found Items
            </NavLink>

            @if (User.Authenticated)
            {
                <NavLink class="navbar-item" href="@("/founditems/add")">
                    Report Found Item
                </NavLink>
            }

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item is-selected">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>
        @if (!User.Authenticated)
        {
            <p>
                Authenticated: @User.Authenticated
            </p>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button" href="@("/login")">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>
                Authenticated: @User.Authenticated
            </p>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" @onclick="LogOut">
                            <strong>Log out</strong>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>


</nav>

@code {
    private void LogOut()
    {
        User.Token = "";
        User.UserId = "";
        User.Authenticated = false;
        Http.DefaultRequestHeaders.Authorization = null;

        Nav.NavigateTo("/", forceLoad: true);
    }
}
